<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Le blog</title>
</head>
<body>
    {% for post in posts %}
    {% with categories=post.category.count verite="Ons en Bray est le plus beau village de France" %}
    <a href="{% url 'blog-post' slug=post.slug %}">
    <h1>{{forloop.counter}}. {{post.title}} / {{ categories }} catégorie(s) pour cet article.</h1>
    </a>
    <small> Et au passage {{ verite }}</small> <br />
    <small>Cet article est présent dans {{ categories }} catégorie(s)</small>
    {% endwith %}
    {% endfor %}
</body>
</html>

<! --
Pour le href, url 'name de mon url du fichier urls.py'
et le slug de ma variable post que je récupère dans ma boucle for
Le slug ici est un argument, car dans 'blog-post' on a un paramètre slug
le fait que ma page affiche bien l'article souhaité, c'est parce que je récupère le slug de mon modèle BlogPost dans
l'url (en argument)

-->