{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}

  <h1>Mon super blog</h1>

{% endblock %}

{% block extrastyle %}

  <style>
  #header {
        background-color: #1e1e2d;
    }

  #branding h1 {
        color: white;
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: bold;
  }

  body {
        background-color: #D6EAF8 ;
  }

  #content h1 {
        color: #17202A;
        font-weight: bolder;
  }

  #content-main {
  background-color: #ba2121;
  }


  :root {
    --primary: #e91e63;
    --secondary: #417690;
    --accent: #f5dd5d;
    --primary-fg: #fff;
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;
    --header-color: #ffc;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
    --link-fg: #447e9b;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
    --error-fg: #ba2121;
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
    --darkened-bg: #f8f8f8;
    --selected-bg: #e4e4e4;
    --selected-row: #ffc;
    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #609ab6;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888;
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
}
  </style>

{% endblock %}

<!--

Pour le extrastyle on peut s'aider en affichant le code source de mon admin django

-->